<!DOCTYPE html>
<html ng-app="bookApp" lang="en">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="assets/javascripts/application.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>